.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.heroes {
  margin: 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEE;
  margin: .5em 0;
}

li:hover {
  color: #607D8B;
  background-color: #DDD;
}

.text {
  position: relative;
  top: -3px;
}

.badge {
  display: inline-block;
  color: white;
  background-color: #369;
  text-align: center;
  border-radius: 4px 0 0 4px;
  font-size: 0.9em;
  font-weight: 600;
  padding: 7px 0;
  width: 50px;
}

a {
  color: #369;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.hero-name {
  margin-left: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button.delete {
  color: #a70000;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 2px 6px;
  border-radius: unset;
}
