/* DashboardComponent's private CSS styles */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.top-heroes {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  width: 400px;
  max-width: 400px;
  background-color: #369;
  border-radius: 2px;
}

.top-heroes:hover {
  background-color: #eee;
  cursor: pointer;
  color: #369;
}
